/* Nested Reader */

.nr-status {
	margin-top: var(--size-4-1);
	color: var(--text-muted);
	font-size: var(--font-ui-small);
}
.nr-status-ok {
	color: var(--text-success);
}
.nr-status-error {
	color: var(--text-error);
}
